body {
    margin: 0%;

}

.first-container {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: padding 0px;
    width: 100vw;
    height: 50vw;
    padding-top: 10px;
    color: white;


}

.let-headline {
    font-size: 80px;
    color: rgb(250, 166, 11);
    margin-top: 250px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 0px;

}

.loream-paragrap {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
}

.button-link {

    text-decoration: none;
    background-color: tomato;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
}

.donate-container {
    text-align: center;
}

.danate-headline {
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 2%;
}

.alltaka-box {
    width: 200px;
    height: 150px;
    background-color: rgb(228, 222, 222);
    text-align: center;
    border-radius: 10px;
}

.taka-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}

.taka-headline {
    font-size: 40px;
    margin-top: 50px;

}

.sceondtaka-box {
    width: 200px;
    height: 150px;
    background-color: rgb(247, 214, 208);
    text-align: center;
    border-radius: 10px;
    color: tomato;
}

input {
    padding: 10px;
    width: 50%;
    outline: none;
    border: none;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid rgb(148, 144, 144);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 20%;
}

.button-container {
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
}

.first-box {
    width: 410px;
    height: 400px;
    background-color: RGB(234, 237, 237);
    text-align: start;
    border-radius: 5px;
}

.second-box {
    width: 410px;
    height: 400px;
    background-color: rgb(247, 226, 222);
    text-align: start;
    border-radius: 5px;
}

.third-box {
    width: 410px;
    height: 400px;
    background-color: rgb(235, 228, 204);
    text-align: start;
    border-radius: 5px;
}

.food-paragrap {
    font-size: 25px;
}

.for-margin {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}

.four-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 200px;
    margin-bottom: 70px;

}

.four-one {
    text-align: start;
    margin-right: 180px;
}

.headline-four {
    font-size: 60px;
}

.paragrp-four1 {
    font-size: 30px;

}

.paragrp-four2 {
    font-size: 25px;
    margin-bottom: 70px;
}

.four-oneimage {
    width: 1600px;
    height: 600px;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 40px;
}

.four-two {
    text-align: start;
    margin-right: 50px;

}

.four-twoimage {
    width: 1600px;
    height: 600px;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 40px;
}

.fifth-container {
    width: 1000px;
    height: 250px;
    background-color: rgb(235, 228, 204);
    margin-left: 380px;
    margin-bottom: 150px;
    display: flex;

}

.fifth-one {
    width: 350px;
    height: 60px;
    background-color: rgb(187, 183, 183);
    margin-left: 230px;
    margin-top: 80px;
    border-radius: 5px;


}

.fifth-two {
    width: 180px;
    height: 60px;
    background-color: rgb(243, 85, 58);
    margin-top: 80px;
    border-radius: 5px;
}

.email-headline {
    font-size: 25px;
    text-align: start;
    margin-left: 10px;
}

.sub-headline {
    font-size: 25px;
    text-align: start;
    margin-left: 20px;
    color: white;
}

.last-container {
    height: 220px;
    background-color: black;
}

.last-headline {
    margin-top: 100px;
}

.last1-headline {
    color: rgb(221, 78, 53);
    font-size: 45px;
}

.last2-headline {
    color: white;
    font-size: 20px;
}